.top{;
  text-align: center;
  padding-top: 1.5%;
  background-color: #AA767C;
  padding-bottom: 1.5%;


}

.items{
  padding-left: 47%;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  background-color: #AA767C;
  margin-top: 20%


}

body{
  background-color: #FEC196;
}
